.navbar {
    height: 50px;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-nav li {
    margin-right: 10px;
}

.nav-link {
    font-size: 16px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-nav:last-child {
    margin-right: 0;
}

.navbar-nav li a {
    color: #fff;
}

.navbar-nav li a:hover {
    color: #f0ad4e;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: 0;
    }
}
