<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/SymfonyProject/public/">Concert Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" style="margin-left: auto;">
            <li class="nav-item active">
                <a class="nav-link" href="/SymfonyProject/public/artist/">Artist</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/SymfonyProject/public/concert/">Concerts</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/SymfonyProject/public/booking/">Booking</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/SymfonyProject/public/favorite/">Favorites</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/SymfonyProject/public/salle/">Salle</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/SymfonyProject/public/review/">Review</a>
            </li>
        </ul>
        <ul class="navbar-nav">
        <a href="{{ path('app_account_edit') }}">Edit account</a>
                        <li class="nav-item">
                <a class="nav-link" href="/SymfonyProject/public/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SymfonyProject/public/profile">Profile</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/SymfonyProject/public/sign-in">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SymfonyProject/public/register">Register</a>
            </li>
        </ul>
    </div>
</nav>
